.Modal {
  position: relative;
  top: 200px;
  max-width: 550px;
  border-radius: 6px;
  margin: auto;
  padding: 16px;
  background-color: #ffff;
  outline: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(94,96,98,0.3);
}